@import '../configs/variables';

$color-light: blue;
$color-dark: darkblue;


.nav-overlay {
  &::after {
    content: "";
    position: fixed;
    top: 28px;
    right: 28px;
    width: 64px;
    height: 64px;
    border-radius: $border-radius-large;
    background-image: radial-gradient($color-light, $color-dark);
  } 
}

.menu-toggle-overlap {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: $z-index-fixed-buttons;
    width: 68px;
    height: 68px;
    border-radius: $border-radius-large;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  .menu-toggle-overlap__icon > input[type="checkbox"]:checked ~ .nav-overlay::after {
    transform: scale(80);
  }