<div class="featured">
  <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
      <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
      <div style="position:absolute;display:block;background:url('images/slider/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">


      <div data-p="225.00" style="display: none;">
        <img data-u="image" src="images/slider/ft5.jpg" alt="" />
      </div>
      <div data-p="225.00" style="display: none;">
        <img data-u="image" src="images/slider/ft6.jpg" alt="" />
      </div>
      <div data-p="225.00" style="display: none;">
        <img data-u="image" src="images/slider/ft7.jpg" alt="" />
      </div>
      <div data-p="225.00" style="display: none;">
        <img data-u="image" src="images/slider/ft8.jpg" alt="" />
      </div>

      <div data-p="225.00" style="display: none;">
        <img data-u="image" src="images/slider/ft0.jpg" alt="" />
      </div>

      <div data-p="225.00" style="display: none;">
        <img data-u="image" src="images/slider/ft1.jpg" alt="" />
      </div>

      <div data-p="225.00" style="display: none;">
        <img data-u="image" src="images/slider/ft2.jpg" alt="" />
      </div>

      <div data-p="225.00" style="display: none;">
        <img data-u="image" src="images/slider/ft3.jpg" alt="" />
      </div>

    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
      <!-- bullet navigator item prototype -->
      <div data-u="prototype" style="width:16px;height:16px;"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>


  </div>
  <!-- /jssor_1 -->

  <div class="tagline">
    <h2>Al-Madina Import, Export and Real Estate Agency</h2>
    <p>
      Al-Madina is a solution oriented company in Import and Export and Real Estate Agency
    </p>
  </div>

  <script>
    jssor_1_slider_init();
  </script>
  <!-- #endregion Jssor Slider End -->
</div>
<!-- /slider -->