<div class="top-menu">
  <div class="container">
    <div class="nav top-menu__contacts is-hidden is-shown">
      <span>
        Opening Hrs: Mon - Sat: 8:00am - 6:00pm |
      </span>

      <a href="#">
        +220 7991027 | +220 3944000 |
      </a>

      <a href="#">
        info@almadina.gm
      </a>
    </div>

    <nav class="nav">
      <a href="{{ site.web_mail }}">Webmail</a>
    </nav>
  </div>

  <nav class="nav main-menu pos-rel">
    <div class="container">
      <!-- A logo and the mobile menu toggle button -->
      <div class="mobile-menu">

        <div class="logo logo--mobile">
          <img title="Al-Madina Import & Export Company and Real Estate Agency" class="logo__img" src="images/logo.jpg" alt="Al-Madina Import & Export Company and Real Estate Agency">
        </div>
        <div class="menu-toggle js-menu-toggle">
          <i class="menu-toggle__icon">&nbsp;</i>
          <span class="menu-toggle__text">Menu</span>
        </div>
      </div>


      <ul class="nav__list main-menu__list js-main-menu__list is-hidden is-shown">
        <li>
          <div class="logo logo--desktop">
            <img title="Al-Madina Import & Export Company and Real Estate Agency" class="logo__img" src="images/logo.jpg" alt="Al-Madina Import & Export Company and Real Estate Agency">
          </div>
        </li>
          {% for link in site.data.main-menu %}
           {% assign class = nil %} {% if page.url contains link.url %} {% assign class = 'is-active' %} {% endif %}
          <li>
            <a class="{{ class }}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  