<div class="widget">

    <div hidden class="asked js-asked">
        <div class="asked__header">
            <div class="media media--reversed">
                <div class="media__text">
                    <h2 class="media__title">
                        Almadina Group
                        <small>
                            We reply within Mins
                        </small>
                    </h2>
                </div>
                <div class="media__figure">
                    <img src="./images/logo.jpg" alt="Whatsapp logo">
                </div>
            </div>
        </div>
        <div class="asked__content">
            <div class="asked__message">
                <h3>Mr Bamba Mbaye</h3>
                <p>
                    Assalamu'alaikum 👋
                </p>
                <p>
                    Welcome to Almadina Group, please do not hesitate to contact us via Whats App for quick communications
                </p>
            </div>
        </div>
        <div class="asked__footer">
            <a class="cta" href="https://wa.me/2203421750">
                Click here to Contact
            </a>
        </div>
    </div>
  
  
    <div class="contact media">
        <div class="media__text">
            <p class="media__title">
                <b>Get in touch with us now</b>
            </p>
        </div>
        <button class="media__figure js-toggle-widget">
            <img src="./images/whatsapp-logo.svg" alt="Whatsapp logo">
        </button>
    </div>
  
  </div>