<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  {% include head-home.html %}
</head>
<body>

  <div id="top" class="wrapper" role="document">

    <header class="site-header" role="banner">
      {% include header.html %}
    </header>

    {% include featured.html %}

    <main role="main">
      {{ content }}
    </main>


    <footer class="site-footer" role="contentinfo">
      {% include footer.html %}
    </footer>

  </div>

  {% include whatsapp.html %}

  <script src="scripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="scripts/main.js"></script>
</body>
</html>