<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>

  <div id="top" class="wrapper" role="document">

    <header class="site-header" role="banner">
      {% include header.html %}
    </header>

    {% include nav-product.html %}

    <main role="main">
      
      <div class="container container-main">
         {{ content }}
      </div>

    </main>


    <footer class="site-footer" role="contentinfo">
      {% include footer.html %}
    </footer>

  </div>

  <script src="scripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="scripts/main.js"></script>
</body>
</html>